@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$Color-Dark-Violet: hsl(256, 26%, 20%);
$Color-Grayish-Blue: hsl(216, 30%, 68%);
$Color-Very-Dark-Violet: hsl(270, 9%, 17%);
$Color-Dark-Grayish-Violet: hsl(273, 4%, 51%);
$Color-Very-Light-Gray: hsl(0, 0%, 98%);


$font-DM-Serif: 'DM Serif Display', serif;
$font-Karla: 'Karla', sans-serif;